<nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start">
        <button class="btn btn-sm btn-outline-secondary mx-2" type="button" routerLink="">Home</button>
        <button class="btn btn-sm btn-outline-secondary mx-2" type="button" routerLink="/addstaff">Add Staff</button>
        <button class="btn btn-sm btn-outline-secondary mx-2" type="button" routerLink="/stafflist">Staff List</button>
        <button class="btn btn-sm btn-outline-secondary mx-2" type="button" routerLink="/addstu">Add Student</button>
        <button class="btn btn-sm btn-outline-secondary mx-2" type="button"  routerLink="/stulist">Student List</button>
    </form>
  </nav>

  <router-outlet></router-outlet>