<app-adminworks></app-adminworks>

<div class="container">
  <div class="row">
    <p class="display-4"><b>Staff List</b></p>
  </div>
    <table class="table table-bordered" id="tab">
        <thead>
          <tr>
            <th scope="col">Select All
              <br><input type="checkbox" (change)="all($event)">
            </th>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Login ID</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">DOB</th>
            <th scope="col">Gender</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let rec of lists;index as i">
          <tr id="trow">
            <td>
              <input type="checkbox" [checked]="check">
            </td>
            <th scope="row">{{i+1}}</th>
            <td>{{rec.firstname}}</td>
            <td>{{rec.lastname}}</td>
            <td>{{rec.loginID}}</td>
            <td>{{rec.mobilenum}}</td>
            <td>{{rec.dob}}</td>
            <td>{{rec.gender}}</td>
            <td>
                <button type="button" class="btn-sm btn-info me-2" (click)="Updatedata()">Update</button>
                <button type="button" class="btn-sm btn-danger" (click)="deletedata(rec.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <div class="row">
          <div class="col ">
            <a class="btn btn-primary mx-5" routerLink="/addstaff" role="button">New</a>
            <input class="btn btn-primary" type="reset" value="Delete" (click)="deletedata()">
          </div>
      </div> -->
</div>


