
<div class="container-fluid">
<div class="row text-center">
  <h3 class="col-sm">Online Record Maintenance</h3>

</div>
</div>
<router-outlet></router-outlet>



<!-- 
      [for github push]
git init
git add .
git commit -m "upload my project"
git remote add origin https://github.com/surya786780/Record_maintenance.git
git push -u origin master

[only one's do it] ->   npm install -g angular-cli-ghpages

ng build --prod --base-href "http://surya786780.github.io/Record_maintenance"

ngh --dir dist/angualar-online-attendance

-->

