<div class="container-fluid">
  
    <!-- Main app -->
  
    <!-- Home -->
    <nav class="navbar navbar-light bg-light">
      <form class="container-fluid justify-content-start">
          <button class="btn btn-sm btn-outline-secondary mx-2" type="button" routerLink="/home">Home</button>
          <button class="btn btn-sm btn-outline-secondary mx-2" type="button" routerLink="/login">Sign In</button>
      </form>
    </nav>
    
    <div class="row text-center my-5">
      <div class="col">
    <h2 class="display-4">Welcome to Online Record Maintenance</h2> 
    </div>
    </div>
  </div>
